@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding :0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;
    align-items: center;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 50px;
    padding: 0 8px;
}

.brand {
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 70vh;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    background-image: url('./public/background.png');    


}

.bottom{
    position:sticky;
    height: 20vh;
    background-color: rgb(226, 132, 132);
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column; 
    max-height: 100px ;
    
}
#progressBar{
    width: 80vw;
    
}
.icons{
    margin-top: 12px;

}
.icons img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
